@{
    ViewData["Title"] = "List product";
}


<div class="text-center mb-3">
    <h1>List product</h1>
</div>

<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">Thumb</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Decsription</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                <img src="https://picsum.photos/200" alt"" class="img-thumbnail" width="80" />
            </th>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
            <td>
                <a href="" class="btn btn-success">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
                <a href="" class="btn btn-danger">
                    <i class="fa-solid fa-trash"></i>
                </a>
            </td>
        </tr>
        <tr>
            <th>
                <img src="https://picsum.photos/200" alt"" class="img-thumbnail" width="80" />
            </th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>fat</td>
            <td>
                <a href="" class="btn btn-success">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
                <a href="" class="btn btn-danger">
                    <i class="fa-solid fa-trash"></i>
                </a>
            </td>
        </tr>
        <tr>
            <th>
                <img src="https://picsum.photos/200" alt"" class="img-thumbnail" width="80" />
            </th>
            <td colspan="2">Larry the Bird</td>
            <td>twitter</td>
            <td>
                <a href="" class="btn btn-success">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
                <a href="" class="btn btn-danger">
                    <i class="fa-solid fa-trash"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>

<a href="/product/create" class="btn btn-primary">Create product</a>