@page
@{
}

@using (Html.BeginForm(FormMethod.Post,
    new { enctype = "multipart/form-data" }))
{
    <div class="mb-3">
        <label>Upload</label>
        <input type="file" name="image" class="form-control" />
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
}